.divider-comments{
    width: 75%; 
    margin: auto; 
    border: none;
    height: 1px; /* Adjust the thickness of the line */
    background-color: #563836;
    margin-bottom: 2%;
}

.commentBox
{
    width: 700px;
    height: 150px;
    display: flex;
    border-radius: 18px;
}

.add-comment-form .commentBox {
    font-size: 22px;
}
.commentBox::placeholder
{
    font-size: 22px;
}

.commentButton
{
float: right;
padding: 10px;
font-size: 18px;
margin-top: 2%;
border: 2px solid #fd8b86 !important;
border-radius: 24px;
text-transform: uppercase;
background-color: white;
}

.commentButton:hover
{
    background-color: #fd8b86;
    color: white;
}

.comment-h1
{
    margin-top: 15%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
}

.comment-addcomment
{
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    color: rgb(57, 49, 49);
}

.comment-username
{
    font-size: 20px;
}

.user-comments
{
    font-size: 18px;

}

.delete-commentButton
{
    background-color:  #fd6d68 ;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    margin-left: 20px;
}

.delete-commentButton:hover
{
    background-color: #d04945; 
}

.edit-commentButton
{
    background-color:#54a6ff;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
}

.edit-commentButton:hover {
    background-color: #0056b3; 
}
.edit-textarea
{
    width: 500px;
    height: 50px;
    display: flex;
    border-radius: 6px;
    margin-bottom: 10px;
}

.edit-SubmitButton
{
    background-color: #fd8b86 ;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    margin-left: 20px;

    
}

.edit-SubmitButton:hover {
    background-color: #ff5c57;
}
.cancel-SubmitButton
{
    color: #2b313a;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 18px;
    margin-left: 350px;
}

.cancel-SubmitButton:hover
{
    background-color: #7d8087;
    color: white;

}