/* Admin Sidebar */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.wrapper {
    display: flex;
}

#sidebar {
    width: 260px;
    min-width: 260px;
    height: calc(100vh);
    background-color: #c7e9ed;
    display: flex;
    flex-direction: column;
    position: fixed; /* Add position: fixed to fix the sidebar position */
    top: 0%; 
    left: 0; /* Set left to 0 to pin the sidebar to the very left */
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
    text-align: center;
}

.sidebar-logo a {
    color: #A3716E;
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

/* Adjust the position of icons to the side */
.sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.sidebar-link box-icon {
    font-size: 18px; /* Adjust the size as needed */
    margin-right: 40px; /* Add some spacing between icon and text */
    vertical-align: middle; /* Align the icon vertically */
}

a.sidebar-link {
    padding: .925rem 1.625rem;
    color: #A3716E;
    display: block;
    font-size: 1.09rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.5rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: #bdd9ed;
    border-left: 3px solid #ddb23b;
}

.sidebar-item {
    position: relative;
}

.sidebar-dropdown .sidebar-link {
    font-size: 0.85rem; /* Adjust the font size as needed */
    margin-left: 50px;
}

.sidebar-dropdown {
    background-color: #d6eadf;
    padding: 0;
    min-width: 15rem;
    display: none;
}

.sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* end of admin sidebar */

.container-dashboard {
     background: #fffffd;
}

  
.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  /* Header  */
  .header {
    grid-area: header;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px #c9e4de;
  }
  
  .menu-icon {
    display: none;
  }
  /* End Header  */
  
  /* Main  */  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    gap: 20px;
    margin: 15px 0;
    justify-content: flex-start;
    margin-left: 700px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px 15px;
    border-radius: 5px;
  }
  
  .card .first {
    background-color: #2962ff !important;
  }
  
  .card .second{
    background-color: #ff6d00 !important;
  }
  
  .card .third{
    background-color: #2e7d32 !important;
  }
  
  .card .fourth{
    background-color: #d50000 !important;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  