.bg{
    background-color: #BA94D1 !important;
}

.text-ye
{
    color: #FEFBF6 !important;
}

.login-text
{
    color: #FEFBF6!important;
}

.footer-space
{
margin-top: 100px;
text-align: center;
 padding: 20px;
 position: fixed;
bottom: 0;
width: 100%;
   
}