
.text-ye
{
    color: #FEFBF6 !important;
}

.login-text
{
    color: #FEFBF6!important;
}

.footer-space
{
margin-top: 100px;
text-align: center;
 padding: 20px;
 position: fixed;
bottom: 0;
width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0; /* Add padding to the top and bottom */
  color: rgb(235, 232, 207) !important;
  margin-top: 5px; 
  margin-bottom: 5px; 
}
  
  .nav-item {
    margin: 0 90px; /* Adjust spacing between items */
  }
  
  .header-link{
    text-decoration: none;
    color: #A3716E; 
    font-size: 15px;
    font-weight: bold;
  }
  
  .header-link:hover {
    color: white; 
  }

  .color-nav
{
    border: 3px solid  #F38783;
    border-radius: 50px;
    padding: 6px;
    text-transform: uppercase;
}

.color-nav:hover
{
    background-color: #F38783;
    color:white !important;
}

