.gradient-header
{

background: linear-gradient(273.49deg, #FDF8F8 0.54%, #F8D4BC 22.62%, #F38783 98.6%);

}

.gradient-footer
{


background: linear-gradient(93.63deg, #FDF8F8 1.29%, #F8D4BC 9.07%, #F38783 82.38%);

}

.custom-menu-header {
    /* Add your custom styles here */
  }
  
  .menu-link {
    text-decoration: none;
    color: inherit;
  }
  
  .logout-item {
    /* Add styles for the logout menu item */
  }
  
  .logout-text {
    color: red;
  }
  